<html>  
<head>  
<meta charset="ISO-8859-1" />  
<title>title Form Tester</title>  
</head>  
<body>  

  <div>Welcome <%= user%></div><h4>How are you doing today?</h4>
   <form action="/logout" method="get">  
      <input type="submit" value="logout">  
   </form>  
 </body>  
</html> 

